{% extends 'face/home.html' %}
{% load static %}

{% block content %}

<!-- CSS et JavaScript pour le chargement -->
<script src="{% static 'js/script.js' %}"></script>
<style>
    body {
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<!-- En-tête -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white"> Bienvenue sur la plateforme AHFace</h3>
                    <p class="text-light">Sur une image faciale, nous identifions l'émotion de joie ou de colère grâce à un algorithme de machine learning.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Contenu principal -->
<div id="uploadFormWrapper" class="container">
    <div class="row">
        <div class="col-md-12 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">

                    <!-- Formulaire de téléchargement de l'image -->
                    <form id="uploadForm" method="post" action="{% url 'home' %}" enctype="multipart/form-data" class="form">
                        {% csrf_token %}

                        <label for="image" class="card-title">Importer la photo</label>
                        <div class="form-group">
                            <input id="image" type="file" class="form-control" name="image">
                        </div>
                        <br>
                        <br>
                        <div class="text-center">
                            <img id="imageDisplay" style="max-width: 500px; max-height: 500px;" class="rounded mx-auto d-block img-fluid" src="#" alt="Aperçu de l'image" />
                        </div>
                        <br>
                        <br>
                        {% if message %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Danger:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            {{ message }}

                        </div>
                        {% endif %}
                        <div class="text-center gap-2">
                          <button type="submit" class="btn btn-primary btn-lg">Détection</button>
                      </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>



<!-- Loader -->
<div id="loader" class="text-center" style="display: none;">
    <div class="loader"></div>
    <p>Prédiction en cours...</p>
</div>

<!-- JavaScript -->
<script>
    document.getElementById('uploadForm').onsubmit = function() {
        document.getElementById('loader').style.display = 'block';
        document.getElementById('uploadFormWrapper').style.display = 'none';
    };

    document.getElementById('restartFormBtn').onclick = function() {
        document.getElementById('uploadFormWrapper').style.display = 'block';
        document.getElementById('predictionResult').style.display = 'none';
    };
</script>

{% endblock content %}
